.App {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 50px 20px;
    position: relative;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    background-color: ghostwhite;
    border-radius: 5px;
    flex: 0 1 20%;
    display: flex;
    align-items: center;
}

.card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.19);
    opacity: 0.92;
}

.card > img {
    margin: 5px;
    transition: all 300ms ease;
}

.card.displayed {
}

.card > .title {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 5px;
    text-align: start;
}
